@model List<Article>
@{
    ViewData["Title"] = "Personal Blog";
}

<div class="text-center">
    <table class="table border-0">
        <thead class="border-bottom-0">
            <tr>
                <th class="border-0"></th>
                <th class="border-0"></th>
                <th class="border-0"></th>
            </tr>
        </thead>
        <tbody class="border-0">
            <tr class="border-0">
                <td class="text-start col-10 border-0">
                    <h1 class="display-4">Personal Blog</h1>
                </td>
                <td class="border-0"></td>
                <td class="col-1 border-0">
                    @Html.ActionLink("+ Add", "ShowAddArticle")
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model is not null)
            {
                @foreach (Article c in Model)
                {
                    <tr>
                        <td class="text-start col-10">
                            @c.Title
                        </td>
                        <td class="col-1">
                            @Html.ActionLink("Edit", "ShowUpdateArticle", new { id = c.Id })
                        </td>
                        <td class="col-1">
                            @Html.ActionLink("Delete", "DeleteConfirmation", new { id = c.Id })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>